# Version Identification:
# $Id$
# Copyright (c) 1990-%Q% The Regents of the University of California.
# All rights reserved.
# 
# Permission is hereby granted, without written agreement and without
# license or royalty fees, to use, copy, modify, and distribute this
# software and its documentation for any purpose, provided that the
# above copyright notice and the following two paragraphs appear in all
# copies of this software.
# 
# IN NO EVENT SHALL THE UNIVERSITY OF CALIFORNIA BE LIABLE TO ANY PARTY
# FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES
# ARISING OUT OF THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN IF
# THE UNIVERSITY OF CALIFORNIA HAS BEEN ADVISED OF THE POSSIBILITY OF
# SUCH DAMAGE.
# 
# THE UNIVERSITY OF CALIFORNIA SPECIFICALLY DISCLAIMS ANY WARRANTIES,
# INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE SOFTWARE
# PROVIDED HEREUNDER IS ON AN "AS IS" BASIS, AND THE UNIVERSITY OF
# CALIFORNIA HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT, UPDATES,
# ENHANCEMENTS, OR MODIFICATIONS.
# 
# 						PT_COPYRIGHT_VERSION_2
# 						COPYRIGHTENDKEY
#
# make.template for  Mercury double matrix routnes

# Date of creation:  September 17, 1996
#
# If this files name is make.template and there is no makefile in
# this directory, do
#	cp make.template makefile
#	make depend
# This will add the dependencies to the makefile.
#
# root of source tree
ROOT	      = ../../../../..
# VPATH points to the real source directory
VPATH         = $(ROOT)/src/vendors/mercury/src/single

# get configuration info
CONFIG=$(ROOT)/mk/config-$(PTARCH).mk
include $(CONFIG)

include $(VPATH)/../mercury.mk

LIBCSDS = \
acor.csd         acorf.csd        acort.csd        aspec.csd \
blkman.csd       bprojimg.csd     bprojrow.csd     cc_data.csd \
cconv.csd        ccor.csd         ccorf.csd        ccort.csd \
cdotpr.csd       cfft.csd         cfft2d.csd       cfftb.csd \
cfftb3.csd       cfftb5.csd       cffto.csd        cfftsc.csd \
cidotpr.csd      cimul.csd        cmatfbs.csd      cmatinv_lu.csd \
cmatlud.csd      cmmul.csd        cmtrans.csd      cmtrans2.csd \
coher.csd        conv.csd         crdotpr.csd      crvadd.csd \
crvdiv.csd       crvmul.csd       crvsub.csd       cspec.csd \
cvabs.csd        cvadd.csd        cvcma.csd        cvcmul.csd \
cvcomb.csd       cvconj.csd       cvcsml.csd       cvdiv.csd \
cvexp.csd        cvexpm.csd       cvfill.csd       cvmags.csd \
cvmgsa.csd       cvmov.csd        cvmul.csd        cvneg.csd \
cvphas.csd       cvrcip.csd       cvsma.csd        cvsqrt.csd \
cvsub.csd        declo.csd        deq22.csd        desamp.csd \
dotpr.csd        f3x3.csd         f5x5.csd         fftcom.csd \
fftwts.csd       fftwts3.csd      fftwts5.csd      fir2.csd \
fir3.csd         firlo.csd        fixpixa.csd      fixpixb.csd \
fixr.csd         flnz.csd         fltpixa.csd      fltpixb.csd \
hamm.csd         hann.csd         heapsort.csd     hist.csd \
imgfir.csd       lveq.csd         lvge.csd         lvgt.csd \
lvle.csd         lvlt.csd         lvne.csd         lvnot.csd \
make.template    matfbs.csd       matinv.csd       matinv_lu.csd \
matlud.csd       maxmgv.csd       maxmgvi.csd      maxv.csd \
maxvi.csd        meamgv.csd       meanv.csd        measqv.csd \
medf.csd         medf3x3.csd      medf5x5.csd      minmgv.csd \
minmgvi.csd      minv.csd         minvi.csd        mmul.csd \
mmulf.csd        mtrans.csd       mtrans2.csd      mvessq.csd \
nzcros.csd       polar.csd        rect.csd         rfft.csd \
rfft2d.csd       rfftb.csd        rffto.csd        rfftsc.csd \
rmsqv.csd        sal_version.csd  spin.csd         svdiv.csd \
sve.csd          svemg.csd        svesq.csd        svs.csd \
tconvl.csd       trans.csd        vaam.csd         vabmrg.csd \
vabs.csd         vadd.csd         vaint.csd        valog.csd \
vam.csd          vamerg.csd       vasbm.csd        vasm.csd \
vatan.csd        vatan2.csd       vavexp.csd       vavlin.csd \
vclip.csd        vclr.csd         vcmerg.csd       vcmprs.csd \
vcos.csd         vdbcon.csd       vdist.csd        vdiv.csd \
vdivz.csd        venvlp.csd       vexp.csd         vfill.csd \
vfix.csd         vfix32.csd       vfixr.csd        vfixr32.csd \
vfixu.csd        vflt.csd         vflt32.csd       vfltu.csd \
vfltu32.csd      vfrac.csd        vgathr.csd       vgathra.csd \
vgen.csd         vgenp.csd        viclip.csd       vimag.csd \
vindex.csd       vint.csd         vint2.csd        vintb.csd \
vlim.csd         vlint.csd        vlmerg.csd       vln.csd \
vlnz.csd         vlog.csd         vma.csd          vmax.csd \
vmaxmg.csd       vmin.csd         vminmg.csd       vmma.csd \
vmmsb.csd        vmov.csd         vmsa.csd         vmsb.csd \
vmul.csd         vnabs.csd        vneg.csd         vnint.csd \
vnint2.csd       vpmerg.csd       vpoly.csd        vpythg.csd \
vqint.csd        vramp.csd        vreal.csd        vrecip.csd \
vrsum.csd        vrvrs.csd        vsadd.csd        vsbm.csd \
vsbsbm.csd       vsbsm.csd        vscal.csd        vscatr.csd \
vscatra.csd      vsdiv.csd        vsimps.csd       vsin.csd \
vsma.csd         vsmsa.csd        vsmsb.csd        vsmul.csd \
vsort.csd        vsorti.csd       vsq.csd          vsqrt.csd \
vsqrtz.csd       vssq.csd         vsub.csd         vswap.csd \
vtabi.csd        vtan.csd         vthr.csd         vthres.csd \
vthrsc.csd       vtmerg.csd       vtrapz.csd       vxcs.csd \
warp.csd         wiener.csd

HDRS =

LIBCSRCS = 

SRCS = $(LIBCSDS)

OBJS = $(LIBCSDS:.csd=.o)

# Library name
# Build a non-shared libptolemy.a for faster startup time
# It would be nice if we built both
LIBNONSHARED=libmercdouble.a

all: makefile $(LIBNONSHARED)

install: makefile $(LIBNONSHARED) $(LIBDIR)/$(LIBNONSHARED)

lint:	$(LIBCSRCS)
	lint -u $(INCL) $(LIBCSRCS) > lint

# include common definitions, rules
include $(ROOT)/mk/common.mk

# Don't add anything after the next line; makedepend will zap it.
# DO NOT DELETE THIS LINE -- make depend depends on it.

